.list_modal {
  display: table;
}
.list {
  width: fit-content;
}

.app__list {
  margin-bottom: 20px;
  width: 100%;
}
.app__list__checkbox {
  margin-right: 5px;
}
.list_input {
  width: fit-content;
}
.list_mapitem {
  font-size: x-large;
  font-family: "Raleway", sans-serif;
}
.list_buttons {
  display: flex;
  margin-left: 20px;
}
.list_checkbox {
  margin-right: 10px;
}
.list_nav {
  display: flex;
  flex-direction: column;
}
.list_icons {
  display: flex;
}
